 <div class="alert alert-info col-xs-12">
   <div class="col-xs-12 col-sm-6 col-md-6">
     <h6><span class="label label-danger">Id: {{fid}}</span></h6>
    <h3><span class="label label-default">{{todoContent}}</span></h3>
   </div>
   <br>
  <div class="col-xs-12 col-sm-6 col-md-6">
     <label class="checkbox-inline"> <input type="checkbox" [(ngModel)]="done"></label>
     <span style="font-size:0.8em;" class="glyphicon glyphicon-pencil" ></span>
     <span style="font-size:0.8em;" class="glyphicon glyphicon-trash"></span>
     <span style="font-size:0.8em;" class="glyphicon glyphicon-detail"></span>
   </div>
 </div>